#contact {
  .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 16px;

    .box {
      font-size: 32px;
      border: 3px solid $secondaryColor;
      padding: 8px 24px;
      margin-bottom: 20px;
      @include easeOut;
      &:hover {
        padding: 24px 40px;
        background: $secondaryColor;
        color: $primaryColor;
        span {
          color: setTextColor($primaryColor);
        }
      }
    }
  }
}

@include mediaSM {
  main#contact {
    .boxes {
      .box {
        font-size: 16px;
        &:hover {
          font-size: 18px;
          padding: 16px 30px;
        }
      }
    }
  }
}
