#work {
  .projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;

    img {
      width: 100%;
      max-height: 300px;
      border: 3px solid #fff;
      &:hover {
        opacity: 0.6;
        border-color: $secondaryColor;
        @include easeOut;
      }
    }
  }

  .btn-light {
    @extend .btn;
    background: lighten($color: $primaryColor, $amount: 7);
  }

  .btn-dark {
    @extend .btn;
    background: darken($color: $primaryColor, $amount: 7);
  }
}

@include mediaXL {
  main#work {
    .projects {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

@include mediaMD {
  main#work {
    .projects {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@include mediaSM {
  main#work {
    .projects {
      grid-template-columns: 1fr;
    }
  }
}
