@import "components/mixins";
@import "components/functions";
@import "components/vars";
@import "components/menu";
@import "pages/about";
@import "pages/work";
@import "pages/contact";
@import "pages/_success";
@import "pages/print";

@include main;

#home-img {
  @include background($home-image);
  background-position: top;
}

body {
  background: $primaryColor;
  color: setTextColor($primaryColor);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100%;
  line-height: 1.5;
  display: flex;
  flex-direction: column;

  h1,
  h2,
  h3 {
    font-weight: 400;

    &.lg-heading {
      font-size: 60px;
    }

    &.sm-heading {
      margin-bottom: 30px;
      padding: 5px 8px;
      background: rgba(lighten($primaryColor, 2), 0.5);
    }
  }
  a {
    color: setTextColor($primaryColor);
  }
  header {
    position: fixed;
    z-index: 2;
    width: 100%;
  }

  .text-primary {
    text-transform: uppercase;
    color: rgba(darken($primaryColor, 5), 1);
    font-weight: bold;
  }

  .text-secondary {
    color: $secondaryColor;
  }

  main {
    padding: 40px;

    .icons {
      margin-bottom: 15px;
      a {
        padding: 8px;
        margin: 0 10px;

        &:hover {
          color: $secondaryColor;
          @include easeOut();
        }
      }
    }

    &#home {
      overflow: hidden;
      h1 {
        margin-top: 20%;
      }
    }

    .counter {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: flex-start;
      padding: 5px 8px;
      background: rgba($primaryColor, 0.5);
      width: 15%;
      box-shadow: 5px 5px rgba($primaryColor, 0.4),
        10px 10px rgba($primaryColor, 0.3), 15px 15px rgba($primaryColor, 0.2),
        20px 20px rgba($primaryColor, 0.1), 25px 25px rgba($primaryColor, 0.05);
      @include media-max-width(800) {
        width: 100%;
        align-items: center;
      }
    }
  }
}

.btn {
  @include btn;
}

.main-footer {
  margin-top: auto;
  text-align: center;
  padding: 16px;
  background: darken($color: $primaryColor, $amount: 5);
  color: setTextColor($primaryColor);
  height: 60px;

  &__copy {
    color: $secondaryColor;
  }
}
