.menu-btn {
  position: absolute;
  z-index: 5;
  top: 35px;
  right: 35px;
  cursor: pointer;
  transition: all 0.8s ease-out; }
  .menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin-bottom: 5px;
    background: #fff;
    transition: all 0.8s ease-out; }
  .menu-btn.close {
    transform: rotate(180deg); }
    .menu-btn.close .btn-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px); }
    .menu-btn.close .btn-line:nth-child(2) {
      display: none; }
    .menu-btn.close .btn-line:nth-child(3) {
      transform: rotate(135deg) translate(0px, 0px); }

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden; }
  .menu.show {
    visibility: visible; }
  .menu-branding, .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden; }
  .menu-nav {
    transform: translate3d(0, -100%, 0);
    transition: all 0.8s ease-out; }
    .menu-nav.show {
      transform: translate3d(0, 0, 0);
      background: rgba(89, 37, 37, 0.5); }
  .menu-branding {
    background: #642929;
    transform: translate3d(0, 100%, 0);
    transition: all 0.8s ease-out; }
    .menu-branding.show {
      transform: translate3d(0, 0, 0);
      background: rgba(100, 41, 41, 0.5); }
    .menu-branding .portrait {
      width: 250px;
      height: 250px;
      background: url(../img/portrait.jpg);
      border-radius: 50%;
      border: 3px solid #ce9416;
      opacity: 1;
      background-position: center; }
  .menu .nav-item {
    transform: translate3d(600px, 0, 0);
    transition: all 0.8s ease-out; }
    .menu .nav-item.show {
      transform: translate3d(0, 0, 0);
      background: rgba(100, 41, 41, 0.5); }
    .menu .nav-item.current > a {
      color: #ce9416;
      border-color: #642929; }
      .menu .nav-item.current > a:hover {
        color: #642929;
        border-color: #ce9416; }
  .menu .nav-item:nth-child(0) {
    transition-delay: 0s; }
  .menu .nav-item:nth-child(1) {
    transition-delay: 0.1s; }
  .menu .nav-item:nth-child(2) {
    transition-delay: 0.2s; }
  .menu .nav-item:nth-child(3) {
    transition-delay: 0.3s; }
  .menu .nav-item:nth-child(4) {
    transition-delay: 0.4s; }
  .menu .nav-link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 300;
    padding: 8px 15px;
    margin: 8px;
    border: 2px solid #ce9416;
    transition: all 0.8s ease-out; }
    .menu .nav-link:hover {
      color: #642929;
      background-color: #ce9416;
      border-color: #642929; }

.test {
  width: 50%; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }
  * li {
    list-style-type: none; }
  * a {
    text-decoration: none; }

body {
  background: #642929;
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
  line-height: 1.5; }
  body#bg-img {
    background: url(../img/background.jpg);
    background-attachment: fixed;
    background-size: cover; }
    body#bg-img:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: rgba(100, 41, 41, 0.8);
      z-index: -100; }
  body h1,
  body h2,
  body h3 {
    font-weight: 400; }
    body h1.lg-heading,
    body h2.lg-heading,
    body h3.lg-heading {
      font-size: 60px; }
    body h1.sm-heading,
    body h2.sm-heading,
    body h3.sm-heading {
      margin-bottom: 30px;
      padding: 5px 8px;
      background: rgba(107, 44, 44, 0.5); }
  body a {
    color: #fff; }
  body header {
    position: fixed;
    z-index: 2;
    width: 100%; }
  body .text-secondary {
    color: #ce9416; }
  body main {
    padding: 65px;
    height: 100%; }
    body main .icons a {
      padding: 10px; }
      body main .icons a:hover {
        color: #ce9416;
        transition: all 0.8s ease-out; }
    body main#home {
      overflow: hidden; }
      body main#home h1 {
        margin-top: 20vh; }
