body {
  &.contact {
    background-image: url(../images/contactBkg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
}

#contact {
  .boxes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 40px;
    align-items: center;
    margin-top: 16px;
    background: linear-gradient(
      180deg,
      rgba(darken($color: $primaryColor, $amount: 7), 0.9) 0%,
      rgba(lighten($color: $primaryColor, $amount: 7), 0.9) 100%
    );
    @include media-max-width(500) {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .box {
      border: 3px solid $secondaryColor;
      padding: 8px 24px;
      min-height: 30vh;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      @include media-max-width(500) {
        font-size: 12px;
      }
      &:hover {
        @include media-max-width(500) {
          font-size: 16px;
        }
      }

      @include easeOut;

      i {
        display: block;
        margin-bottom: 20px;
      }
      &:hover {
        background: $secondaryColor;
        color: $primaryColor;
        cursor: crosshair;
        span {
          color: setTextColor($primaryColor);
        }
      }
    }
  }

  .form {
    background: linear-gradient(
      0deg,
      rgba(darken($color: $primaryColor, $amount: 7), 0.9) 0%,
      rgba(lighten($color: $primaryColor, $amount: 7), 0.9) 100%
    );
    height: 100%;
    width: 58%;
    padding: 28px;
    margin: 0 auto;

    @include media-max-width(1100) {
      margin-top: 20px;
      width: 100%;
    }

    select,
    textarea,
    input {
      padding: 10px;
      border: 1px solid $secondaryColor;
    }

    &_row {
      display: flex;
      justify-content: space-between;
      @include media-max-width(500) {
        display: block;
      }

      select {
        width: 21%;
        color: rgba(lighten($color: $primaryColor, $amount: 7), 1);
        background-color: $secondaryColor;
        &:hover {
          background-color: rgba(lighten($color: $primaryColor, $amount: 7), 1);
          color: $secondaryColor;
          transition: 0.8s;
          cursor: pointer;
        }
        @include media-max-width(500) {
          width: auto;
        }
      }

      input[type="text"] {
        width: 75%;
        @include media-max-width(500) {
          width: 100%;
        }
      }
    }

    input[type="email"],
    textarea {
      display: block;
      width: 100%;
      margin-top: 28px;
      margin-bottom: 28px;
    }

    .netlify-recaptcha {
      @include media-max-width(500) {
        transform: scale(0.7);
        transform-origin: 0 0;
      }
      @include media-max-width(400) {
        transform: scale(0.5);
        transform-origin: 0 0;
      }
    }

    .btn {
      background-color: $secondaryColor;
      border: none;
      border-radius: 0 0px 15px 15px;
      color: $primaryColor;
      width: 100%;
      padding: 1em 2em;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 20px;
      margin: 2em auto 0 auto;
      cursor: pointer;

      &:hover {
        background-color: $primaryColor;
        color: $secondaryColor;
        transition: 0.8s;
        border: 1px solid $secondaryColor;
      }
    }
  }
}
