#bg-img {
	@include background($home-image);
}

.success {
	&__btn {
		@include btn;
		margin: 0;
		border: 1px solid $primaryColor;
		display: flex;
		align-items: center;
		background: $secondaryColor;
		color: $primaryColor;
		font-weight: bold;
		&:hover,
		&:focus {
			background: $primaryColor;
			color: $secondaryColor;
			border: 1px solid currentColor;

			svg {
				background: $primaryColor;
				color: $secondaryColor;
			}
		}

		@include media-max-width(768) {
			margin: 10px auto;
		}
	}

	&__back {
		color: $primaryColor;
		padding: 5px;
		margin: 0 5px;
		width: 36px;
		@include easeOut;
	}
}
