$font-open-sans: 'Open Sans', sans-serif;
$font-roboto: 'Roboto', sans-serif;
$font-lato: 'Lato', sans-serif;

$primaryColor: #642929;
$secondaryColor: #ce9416;
$success_clr: #2ecc71;
$error_clr: #e74c3c;
$showImage: true;
$home-image: url(./assets/images/home-bg-min.jpg);
$contact-image: url(./assets/images/contactme-min.jpg);
$work: url(./assets/images/work-bg-min.jpg);
$about: url(./assets/images/aboutMe-min.jpg);
$backgroundOpacity: 0.8;

$level-one: translateZ(3rem);
$level-two: translateZ(6rem);
$level-three: translateZ(9rem);

$fw-normal: 400;
$fw-bold: 700;

$min_width: 320px;
$max_width: 3840px;
$min_font: 14px;
$max_font: 24px;
